{
  "plugins": [
    "prettier-plugin-astro",
    "@xeonlink/prettier-plugin-organize-attributes",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/styles/global.css",
  "attributeGroups": ["^class$", "^(id|name)$", "^(type|src|href)$", "$DEFAULT", "^aria-"],
  "attributeSort": "ASC",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
